<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<h1>Register</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<form method="POST" th:action="@{/register}" id="registerForm">
    <label for="username">Username</label>
    <input type="text" name="username"><br/>

    <label for="password">Password</label>
    <input type="password" name="password"><br/>

    <label for="confirm">Confirm password</label>
    <input type="password" name="confirm"><br/>

    <label for="fullName">Full name</label>
    <input type="text" name="fullName">

    <label for="street">Street</label>
    <input type="text" name="street">

    <label for="city">City</label>
    <input type="text" name="city">

    <label for="state">State</label>
    <input type="text" name="state">

    <label for="zip">Zip Code</label>
    <input type="text" name="zip">

    <label for="phone">Phone Number</label>
    <input type="text" name="phoneNumber">

    <input type="submit" value="Register">

    </form>

</body>
</html>