<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<h1>Register</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<form method="POST" th:action="@{/register}" id="user" th:object="${user}">
    <label for="username">Username</label>
    <input type="text" name="username" id="username"><br/>

    <label for="password">Password</label>
    <input type="password" name="password" id="password"><br/>

    <label for="confirm">Confirm password</label>
    <input type="password" name="confirm" id="confirm"><br/>

    <label for="fullName">Full name</label>
    <input type="text" name="fullName" id="fullName">

    <label for="street">Street</label>
    <input type="text" name="street" id="street">

    <label for="city">City</label>
    <input type="text" name="city" id="city">

    <label for="state">State</label>
    <input type="text" name="state" id="state">

    <label for="zip">Zip Code</label>
    <input type="text" name="zip" id="zip">

    <label for="phone">Phone Number</label>
    <input type="text" name="phoneNumber" id="phone">

    <input type="submit" value="Register">

    </form>

</body>
</html>